# server connections
HOMESERVER=https://matrix.servidoret.com
MY_USER_ID=@marc:servidoret.com
BOT_USER_ID="{{ matrix_bot_user_id }}"
BOT_PASSWORD="{{ matrix_bot_password }}"

# file system configurations
STORE_DIR="{{ bot_expenses_store_dir }}"
CREDENTIALS_NAME="{{ bot_expenses_store_dir }}/{{ bot_expenses_credentials_file }}"
DATA_DIR=/srv_msata/expenses/data
PLOTS_DIR=/srv_msata/expenses/plots

# operational defaults
ROOM_IMAGE_FILE=/opt/bot-expenses/monthly-expenses_icon.jpg
SUMMARY_ROOM_ID="{{ matrix_summary_room_id }}"
CATEGORIES_FILE=/opt/bot-expenses/categories.yaml
