APP_BASE_URL={{ papra_base_url }}
AUTH_SECRET={{ papra_auth_secret }}
INTAKE_EMAILS_IS_ENABLED=true
INTAKE_EMAILS_DRIVER=catch-all
INTAKE_EMAILS_CATCH_ALL_DOMAIN=servidoret.com
INTAKE_EMAILS_WEBHOOK_SECRET={{ papra_email_ingestion_webhook_secret }}
